# Built application files
*.apk
*.ap_
*.aab

# Build directories
build/
app/build/
.gradle/
.idea/

# Local configuration
local.properties

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# Google Services (если конфиденциально)
google-services.json

# Other
*.iml
.DS_Store
captures/
.externalNativeBuild/


# Keystore files (очень важно!)
*.jks
*.keystore

# Gradle signing configs (если есть)
signing.properties
key.properties

# Firebase / Google secrets (на всякий)
**/serviceAccountKey.json
**/*service-account*.json
